---
import { Image } from "astro:assets";

interface Props {
  title: string;
  content: string;
  image: string;
  alt: string;
}
const { title, content, image, alt } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>("@/assets/*.png");

if (!images[image])
  throw new Error(`"${image}" does not exist in glob: "@/assets/*.png}"`);
---

<article
  class="w-xs rounded-theme-lg bg-theme-white px-theme-200 pt-theme-200 pb-theme-500 shadow-theme-card"
>
  <div class="aspect-square overflow-hidden rounded-theme-sm">
    <Image
      src={images[image]()}
      alt={alt}
      loading={"eager"}
      width={288}
      height={288}
      class="block h-full w-full object-cover"
    />
  </div>
  <div class="mt-theme-300 px-theme-200 text-center">
    <h1
      class="text-theme-preset1 leading-theme-preset1 font-bold tracking-theme-preset1 text-theme-slate-900"
    >
      {title}
    </h1>
    <p
      class="mt-theme-200 text-theme-preset2 leading-theme-preset2 tracking-theme-preset2 text-theme-slate-500"
    >
      {content}
    </p>
  </div>
</article>
